img[alt$=">"] {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

img[alt$="<"] {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

img[alt$="><"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none !important;
}

hr {
    clear: both;
    visibility: hidden;
}